*.py[cod]
*$py.class
__pycache__/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.tox
__WORKDIR__/
nosetests.xml
reports/

# Translations
*.mo

# Mr Developer
.idea
.mr.developer.cfg
.project
.pydevproject
